.pomodoro-deal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    background-color: #d7d5d5;
    margin-bottom: 80px;

    .deal-info {
        text-align: center;

        h1 {
            margin-bottom: 40px;
        }

        p {
            margin: 5px;
        }

        .time-segment {
            border-radius: 50%;
            background-color: white;
            padding: 5px 10px;
            margin: 0 3px;
            gap: 50px;
            width: 120px;
            height: 120px;
            margin-bottom: 50px;

        }

        .line {
            background-color: red;
            height: 5px;
            width: 50px;
            margin: 0px auto 50px;
        }
    }
}


.time-container {
    display: flex;
    gap: 50px;

}

.time {
    font-size: 50px;
    color: orangered;
}

.unit {
    font-size: 20px;
}


.pomodoro-deal {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;

  &.show {
    opacity: 1;
    transform: translateY(0%);
  }
}

